@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to right, black, #2e0101);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: lightskyblue;
    background-image: 
    linear-gradient(to right, #000000d2 50%, #3001012c),
    url(Spider-Man\ web.jpg);
    background-position: right;
    width: 84%;
    height: 640px;
}
.container:hover{
    background-image: 
    linear-gradient(to right, #000000d2 50%, transparent),
    url(Spider-Man\ Web.jpg);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: white;
}
.content{
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.content h2{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    letter-spacing: 3px;
    width: 550px;
    padding: 20px 0;
}
.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
}
.content button:hover{
    background: transparent;
    border: white;
    color: white;
    cursor: pointer;
}